<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
  <style>
  
  </style>
  <link rel="stylesheets" href="home.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="header-center">About Me</div>
    </div>
  </header>
  <div class="top-wrapper">
    <div class="container">
      <h1>About Meへようこそ</h1>
      <h1>Once in the Lifetime Chance</h1>
      <p>Once in the Lifetime Chanceとは「一つ一つの出会いを大切に」という意味が込められたフレーズです</p>
      <p>このサイトを訪れてくれた貴方と良いご縁がありますように</p>
    </div>
  </div>
  <div class="about-wrapper">
    <div class="container">
      <h1>My Profile</h1>
      <%= image_tag 'IMG_6380.jpg', alt: 'My Profile Picture', class: "profile-image" %>
      <div class="profile-text">
        <div class="profile-text-01">
          <ul>
            <li>氏名</li>
            <li>生年月日</li>
            <li>出身地</li>
            <li>座右の銘</li>      
          </ul>
          <ul>
            <li>伴直樹</li>
            <li>1994年 9月 11日</li>
            <li>福岡県 福岡市</li>
            <li>答えは常に踏み出した先にある</li>      
          </ul>
        </div>
        <div class="profile-text-02">
        <p>一言</p>
        <p>初めまして</p>
        </div>
      </div>

    </div>
  </div>

  <div class="details">
    <div class="container">
      <h1>詳細</h1>
      <div class="buttons">
        <a href="/profile" class="image-button profile">
          <span>経歴</span>
        </a>
        <a href="/skills" class="image-button skills">
          <span>スキル</span>
        </a>
        <a href="/hobbies" class="image-button hobbies">
          <span>趣味</span>
        </a>
        <a href="/blogs" class="image-button blogs">
          <span>日記</span>
        </a>
      </div>
    </div>
</div>



</body>
</html>