<header>
    <div class="container">
      <div class="header-center">About Me</div>
    </div>
</header>

<diV class="container">
<h2>出身高校</h2>
<p>長崎県私立青雲高等学校 普通科</p>
<h2>出身大学</h2>
<p>青山学院大学 国際政治経済学部 国際経済学科 国際ビジネスコース</p>
<h2>職歴</h2>
<p>大学在学中より勤めていた株式会社スプラウトインベストメントが運営する純米酒専門店「粋酔」にて、
2022年12月までの約6年間アルバイトスタッフとして接客に従事していました。また日本酒の在庫管理や他のアルバイト
スタッフのシフト作成も行なっていました。</p>
<h2>その他</h2>
<p>2022年の夏頃まで約3年間ほどYouTubeにて動画投稿活動に明け暮れていました。主にゲームの解説動画を主軸
としたチャンネルを運営しており、最終的に4000人強のチャンネル登録者と収益化を達成しました。</p>
<h2>2022年12月以降</h2>
<p>2023年1月からプログラミングを学ぶためにディープロが提供するカリキュラムに参加しました。
そこでフロントエンドからデータベースまでプログラミングの基礎を学びました。</p>
<h2>現在</h2>
<p>プログラミングスクールを卒業後、祖母の介護の為実家の福岡に戻りましたが、今年の9月にまた東京に戻りまして、
現在エンジニアとしては働くべく就職活動中です。</p>
<h2>資格</h2>
<p>実用英語技能検定2級、日本漢字能力検定準2級、日商簿記検定2級</p>
</diV>


